# Dependency directories
node_modules/

# Production build outputs
build/
*.log
npm-debug.log*
.DS_Store
dist/
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

.agents
.claude